.project__summary {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    align-items: stretch;
}

.project__summary--manager {
    border: 1px solid red;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2% 3%;
    justify-content: center;
}

.profile__img {
    border: 1px solid red;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.project__summary--info {
    border: 1px solid red;
    flex: 2 0 0;
    padding: 2% 3%;
    display: flex;
    gap: 1rem;
    align-items: stretch;
    /* align-self: center; */
}

.project__summary--info > p {
    flex: 5 0 0;
    align-self: center;
    /* border-right: 1px solid red; */
}

.project__summary--critical {
    padding: 2% 3%;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid red;
}

.project__details {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    height: 45vh;
}

.project__details--graph {
    padding: 2% 3%;
    border: 1px solid red;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__details--graph > h2 {
    margin-bottom: 1rem;
}

.graph__img {
    width: 20rem;
    height: 20rem;
    border: 1px solid red;
    border-radius: 50%;
}

.project__details--tickets {
    padding: 2% 3%;
    border: 1px solid red;
    flex: 3 0 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project__details--developers {
    padding: 2% 3%;
    border: 1px solid red;
    flex: 1 0 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project__details--tickets > h2 {
    margin-bottom: 1rem;
}

.ticket {
    padding: 2% 3%;
    border: 1px solid red;
}

.ticket__info {
    display: flex;
    gap: 1rem;
}