.card {
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.card__note {
    flex: 0 0 calc(25% - .4rem);
}

.card__project-list {
    padding: 1% 2%;
}